{% extends 'catalog/wrapper.html' %}

{% block content %}

<!-- MAIN CONTAINER -->
<section class="main-content">

  <!-- PAGE HEADER -->
  <header class="page-name">
    <h1>Catalog</h1>
  </header>

  <form>
    <!-- FILTERS -->
    <div class="form-group">
      <label for="nameQuery">Search by a keyword </label>
      <div class="input-group mb-3">
        <input type="text" id="nameQuery" class="form-control" placeholder="Enter a keyword(s)">
      </div>
    </div>
    <!-- SALARY -->
    <div class="form-group">
      <label data-toggle="collapse" data-target="#salary-filter">
        <input type="checkbox" /> Compensation
      </label>
      <div id="salary-filter" class="collapse">
        <div class="form-group">
          <label for="minSalary">Minimum</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" id="minSalary" class="form-control" placeholder="Minimum (default 0)">
          </div>
        </div>
        <div class="form-group">
          <label for="maxSalary">Maximum</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" id="maxSalary" class="form-control" placeholder="Maximum (default inf)">
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- CATALOG ITEMS -->
  <main class="catalog">
    <div class="catalog-item">
      catalog item 1
    </div>

    <div class="catalog-item">
      catalog item 2
    </div>

    <div class="catalog-item">
      catalog item 3
    </div>

    <div class="catalog-item">
      catalog item 4
    </div>
  </main>

</section>
{% endblock %}

{% block js %}
<!-- Here goes all js scripts that you want to load for this page -->
{% endblock %}