{% extends 'catalog/wrapper.html' %}
{% load crispy_forms_tags %}

{% block content %}

<!-- MAIN CONTAINER -->
<section class="main-content">

  <!-- PAGE HEADER -->
  <header class="page-name">
    <h1>Catalog</h1>
  </header>

  {% crispy form %}
  <!-- CATALOG ITEMS -->
  <main class="catalog">
    <div class="catalog-item">
      catalog item 1
    </div>

    <div class="catalog-item">
      catalog item 2
    </div>

    <div class="catalog-item">
      catalog item 3
    </div>

    <div class="catalog-item">
      catalog item 4
    </div>
  </main>

</section>
{% endblock %}

{% block js %}
<!-- Here goes all js scripts that you want to load for this page -->
{% endblock %}